/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
* {
  box-sizing: border-box;
}

body {
	background:url(../images/bg-body.jpg);
	margin:0;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
	width: auto;
	height: 200px;
}
.border {
	position:relative;
	margin: 25px 0;
	-moz-box-shadow:    3px 3px 4px 0px #a3a3a3;
	-webkit-box-shadow: 3px 3px 4px 0px #a3a3a3;
	box-shadow:         3px 3px 4px 0px #a3a3a3;
	border-top:1px solid #9a9a9a;
	background:#e3e3e3;
}
.page {
	margin:0 auto;
	overflow-y:scroll;
	height: calc(100vh - 50px)

}
#bg {
	background-color: #770e29;
	height: 99.8%;
	left: 0;
	margin: 0;
	position: absolute;
	text-indent: -99999px;
	width: 200px;
	z-index: 0;
	border-color: #E5E5E5;
	border-style: solid none none;
	border-width: 0px;
}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'Conv_Muli-Italic';
	src: url('../fonts/Muli-Italic.eot');
	src: url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Italic.woff') format('woff'), url('../fonts/Muli-Italic.ttf') format('truetype'), url('../fonts/Muli-Italic.svg#Muli-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Muli-Regular';
	src: url('../fonts/Muli-Regular.eot');
	src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype'), url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*------------------------- Header ------------------------*/
.sidebar {
	width:200px;
	min-width: 200px;
	float:left;
	height:auto;
	position: sticky;
	top: 0;
}
.sidebar ul {
	padding:0;
	margin:0;
	list-style:none;
}
.sidebar ul li:first-child {
	padding-top:0;
}
.sidebar ul li {
	text-align:right;
	padding:29px 27px 0 0;
}
.sidebar ul li.selected a, .sidebar ul li a:hover {
	color:gray;
}
.sidebar ul li a {
	font-family: "Roboto", sans-serif;
	font-size:24px;
	color:#e3e3e3;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	line-height:30px;
}

.sidebar p {
	clear:both;
	text-align:center;
	color:#fff;
	text-shadow:0 1px 0 #797979;
	line-height:24px;
	font-size:12px;
	margin:0;
	letter-spacing:0.001em;
}
/*------------------------- Body ------------------------*/
.body {
	float:left;
	width:calc(100vw - 250px);
	position: relative;
	background:url(../images/bg-body.png) repeat-y #e3e3e3;
	height: auto;
	padding: 0 0 25px;
	border-color: #dfdfdf;
	border-style: none none none solid;
	border-width: 1px;
}
.body div {
	margin:23px 0 0 21px;
	background:#fff;
	-moz-box-shadow: 0 0 5px 3px #d3d3d3;
	-webkit-box-shadow: 0 0 5px 3px#d3d3d3;
	box-shadow: 0 0 5px 3px #d3d3d3;
	overflow:hidden;
}
.body div h2 {
	color: #919191;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
	color: #7d7d7d;
	padding:36px 0 5px 22px;
	margin:0;
	letter-spacing: .04em;
}
.body div p {
	font-family: 'Conv_Muli-Italic';
	font-size:16px;
	line-height:24px;
	color:#808080;
	padding:0 0 0 22px;
	margin: 23px 0 30px;
}
.body div p a {
	color:#808080;
}
.body div p a:hover {
	color:#484848;
}
.body div div {
	background:none;
	box-shadow:none;
	margin: 0 21px;
}
.body div div h3 {
	background:url(../images/border.jpg) repeat-x right center;
	margin:20px 0 24px;
}
.body div div h3 span {
	font-family: 'Conv_Muli-Regular';
	font-size:18px;
	color:#7d7d7d;
	font-weight:normal;
	display:block;
	background-color:#fff;
	width: 200px;
}
.body div div p {
	padding:0;
}


.scrolling_table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.scrolling_table tbody{
  display:block;
  width: 100%;
  overflow-y: scroll;
  height: 150px;
}

.scrolling_table thead tr {
   display: block;
   cursor: pointer;
}

.scrolling_table thead {
  background: #a80431;
  color:#fff;
}

.scrolling_table tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.scrolling_table th, .scrolling_table td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

form {
	padding: 0 0 10px;
}

form input[name=search] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background-color: #f2f2f2;
  width: calc(100% - 160px);
}

form button[type=submit]{
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

input[type=date] {
  width: 10.8em;
}

input[type=number] {
  width: 3em;
}

.summary{
	color: black;
	display: block;
	padding-bottom: 10px;
}

#minDaysField{
	float: right;
	font-family: 'Conv_Muli-Regular';
	color: #7d7d7d;
}

#minDaysField input{
	width: 4em;
}

#searchFilter{
	font-size: 16px;
	padding: 5px 0 5px 0;
}

.centered {
  text-align: center;
  margin: 0 0 auto;
}

.reportFilters select {
  padding: 3px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.reportFilters button {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.reportFilters label {
  font-size: 18px;
}

.reportFilters input[type=checkbox] {
  -ms-transform: scale(1.6); /* IE */
  -moz-transform: scale(1.6); /* FF */
  -webkit-transform: scale(1.6); /* Safari and Chrome */
  -o-transform: scale(1.6); /* Opera */
  transform: scale(1.6);

}
.reportFilters {
  margin: 0 0 auto;
  text-align: center;
}

.menu_toggle_container{
	display: none;
	margin: 0 15px;
}

.rental_form label{
	display:inline-block;
}

.rental_form input[type=text]{
	width: 15em;
}

@media not print{
#rentalTerms{
	display: none;
}}

.settingsForms select {
  padding: 3px 10px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.settingsForms input[type="text"] {
  margin-right: 20px;
  width: 140px;
  height: 30px;
  font-size: 17px;
}

.settingsForms input[type="number"] {
  margin-right: 20px;
  width: 50px;
  height: 30px;
  font-size: 17px;
}


.settingsForms button {
  padding: 6px 10px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: solid;
  cursor: pointer;
}

.settingsForms label {
  font-size: 18px;
}

.settingsForms input[type=checkbox] {
   margin: 2 2 2;
  -ms-transform: scale(1.6); /* IE */
  -moz-transform: scale(1.6); /* FF */
  -webkit-transform: scale(1.6); /* Safari and Chrome */
  -o-transform: scale(1.6); /* Opera */
  transform: scale(1.6);
}

.settingsForms input[type=radio] {
  margin-right: 15px;
  -ms-transform: scale(1.6); /* IE */
  -moz-transform: scale(1.6); /* FF */
  -webkit-transform: scale(1.6); /* Safari and Chrome */
  -o-transform: scale(1.6); /* Opera */
  transform: scale(1.6);
}

/*------------------------- Media ------------------------*/
@media screen and (max-width: 1000px)
{
	.sidebar, #bg{
		display: none;
	}

	.body{
		width: calc(100vw - 25px);
	}

	.menu_toggle_container{
		display: inline-block;
		background: #000;
		cursor: pointer;
		float: right;
	}

	.bar1, .bar2, .bar3 {
	  width: 35px;
	  height: 5px;
	  background-color: #333 !important;
	  margin: 6px 0 !important;
	  transition: 0.4s;
	}

	.change .bar1 {
	  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	  transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	  -webkit-transform: rotate(45deg) translate(-8px, -8px);
	  transform: rotate(45deg) translate(-8px, -8px);
	}

}

@media print{
	.sidebar{
		display: none;
	}

	.border{
		margin: 0;
	}

	.body{
		width: 100%;
		padding: 0;
	}

	#rental_div{
		width: 7.5in;
		height: 11in;
		position: relative:
		top: 0;
		right: 0;
		z-index: 7;
	}

	#rentalTerms{
		display: block;
	}

	#rental_submit, #rental_scan{
		display: none;
	}

	.body div{
		margin: 0;
	}
}


